<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="no-js">
  <head>
    <!-- Generic metadata for search engines-->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}. {{ site.extradescription }}">
    <meta name="image" content="{{ site.url }}/images/logos/750px-All-firefox-logos.png">

    <!-- Icons -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicons/favicon-196x196.png">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">


    <link rel="alternate" type="application/rss+xml" title="{{ site.root_desc }} - Feed" href="/feed.xml">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://wahorvat.gitlab.io/wahorvat/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" id="frontierline-css" href="https://wahorvat.gitlab.io/wahorvat/themes/frontierline-rm/style.css" type="text/css" media="all" />

  </head>

  <body class="{% if page.home%}blog{% else %}post-template-default single single-post single-format-standard color-scheme-none pattern-none{% endif %}">
    <nav id="nav-global" class="nav-global can-stick">

    <div class="content">
      <div class="logo"><a href="{{ '/' | relative_url }}" rel="external" title="">William Horvat</a></div>

      <div class="nav-mozilla">
        <span class="toggle" role="button" aria-controls="nav-mozilla-menu" aria-expanded="false" tabindex="0">Menu</span>
        <ul class="nav-mozilla-menu" id="nav-mozilla-menu">
          <li class="nav-global-general"><a href="{{ 'about' | relative_url }}" rel="external">About</a></li>
          <li class="nav-global-github"><a href="https://github.com/wahorvat" rel="external">GitHub</a></li>
          <li class="nav-global-kaggle"><a href="https://www.kaggle.com/wahorvat" rel="external">Kaggle</a></li>
          <li class="nav-global-linkedin"><a href="https://www.linkedin.com/in/williamhorvat/" rel="external">LinkedIn</a></li>
        </ul>
      </div>

      <a class="page-top" href="#masthead" title="Go to the top of the page">Top</a>
    </div>
  </nav>

  <header id="masthead" class="section">
    <div class="site-id">
      <div class="site-title-wrap content">
        <!--{% if page.home%}
            <h1 id="site-title"><span>{{ site.title }}</span></h1>
        {% else %}
        <a href="/"><h1 id="site-title"><span>{{ site.title }}</span></h1></a>
        {% endif %}
              <p id="site-description"><span>{{ site.description }}</span></p>
                </div>-->
    </div>
    </div>
  </header>
  <div class="site-wrap">

  <nav id="nav-util" class="can-stick ">
    <ul class="content">
  <li>
  </li>
    </ul>
  </nav>

    <main id="content" role="main">

    {{ content }}

      </div>
    </div>
</main>
  </div><!-- /.site-wrap -->



<footer id="site-info" class="section">
  <div class="content">
    <nav class="primary">
      <p class="license">
      Design and source code from <a href="https://release.mozilla.org/" rel="external license">Mozilla's Release Management Blog</a>. </br> Artwork by <a href="https://dannyivan.com/" rel="external license">Danny Ivan</a>.
    </p>
      <!-- <div class="logo">
        <div class="logo"><a href="https://wahorvat.gitlab.io/wahorvat/" rel="external" title="">William Horvat</a></div>
      </div>
       <section class="mozilla">
        <h5><a href="https://www.mozilla.org/?utm_source=release.mozilla.org&amp;utm_campaign=footer&amp;utm_medium=referral" data-link-type="footer" data-link-name="Mozilla">Mozilla</a></h5>
         <ul class="mozilla-links">
          <li><a href="https://www.mozilla.org/about/?utm_source=release.mozilla.org&amp;utm_campaign=footer&amp;utm_medium=referral" data-link-type="footer" data-link-name="About">About</a></li>
          <li><a href="https://www.mozilla.org/contact/?utm_source=release.mozilla.org&amp;utm_campaign=footer&amp;utm_medium=referral" data-link-type="footer" data-link-name="Contact Us">Contact Us</a></li>
          <li><a href="https://donate.mozilla.org/?presets=50,30,20,10&amp;amount=30&amp;currency=usd&amp;utm_source=release.mozilla.org&amp;utm_campaign=footer&amp;utm_medium=referral" class="donate" data-link-type="footer" data-link-name="Donate">Donate</a></li>
        </ul>
      </section> -->
  </div>
</footer>
  </body>
</html>
